.content {
  &__paragraph {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $colorText;
  }

  &__text {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $colorMain;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .content__elements {
    width: 450px;
    height: 226px;
    margin-right: auto;
    margin-left: auto;
  }
  .content__elements:first-child {
    margin-top: 0;
  }
  .content__fon {
    width: 450px;
    height: 120px;
    padding: 25px 190px;
    background-color: #f5f4fa;
    text-align: center;
  }
}
