.hero {
  // background-image: url('../images/fon/fon_mobai@1x.jpg');
  background-image: image-set(
    url('../images/fon/web/fon_mobai@1x.webp') 1x,
    url('../images/fon/web/fon_mobai@2x.webp') 2x,
    url('../images/fon/fon_mobai@1x.jpg') 1x,
    url('../images/fon/fon_mobai@2x.jpg') 2x
  );
  background-size: cover;
  background-position: 50% 50%;
  // width: 480px;
  height: 400px;
  background-color: $colorMain;
}

@media screen and (min-width: 480px) {
  .hero {
    width: 100%;
  }
}

.box-hero {
  padding-top: 118px;
  padding-bottom: 118px;
}
