@media (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity-box {
  padding-bottom: 94px;
}

.activity__header {
  margin-top: 94px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $colorText;
}

.photo {
  display: flex;
  margin-top: 50px;

  &__element {
    position: relative;
  }

  &__element:not(:last-child) {
    margin-right: 30px;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $colorWhite;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
