.activity{

    &__header{

        margin: 0 15px;
        margin-top: 94px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;

        color: $colorText;
    }

}

.photo{

    display: flex;
    margin: 94px 15px;
    margin-top: 50px;

    &__elements{

        position: relative;

        margin-right: 30px;

        &:last-of-type{
            margin-right: 0;
        }

    }

    &__text{

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 70px;
        padding: 27px 0;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $colorWhite;
        background-color:  rgba(47, 48, 58, 0.8);;

    }

}