.benefist{
    background-color: $colorWhite;
    margin-top: 96px;
}

.content{
    
    display: flex;
    margin: 0 15px;

    &__elements{
        margin-right: 30px;

        &:last-of-type{
            margin-right: 0;
        }

    }

    &__fon{

        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 30px;

        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
    
    }

    &__paragraph{

        margin-bottom: 10px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $colorText;
    }

    &__text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        color: $colorMain;
    }
    
}