.filter {
  display: flex;
  flex-wrap: wrap;

  &__element:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    padding: 6px 22px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $colorText;
    background-color: #f5f4fa;

    transition: color 250ms $cube, background-color 250ms $cube;

    &:hover,
    &:focus {
      color: #f5f4fa;
      background-color: $colorBlue;
    }
  }
}

@media screen and (min-width: 641px) {
  .filter {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter__element {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .page-two-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .page-two-box {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .filter {
    margin-bottom: 50px;
  }
}
