@media screen and (max-width: 767px) {
  .desktope,
  .mobail-nav svg {
    display: none;
  }
  .mobail-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button-menu {
    background-color: transparent;
    z-index: 2;

    &__menu,
    &__end {
      fill: currentColor;
    }

    & &__menu {
      display: none;
    }

    &.is-open &__menu {
      display: block;
    }

    &.is-open &__end {
      display: none;
    }

    &:active {
      color: $colorBlue;
    }
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .mobail-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1;

    &-box {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  .page {
    &__element {
      color: $colorText;
    }
    &__element:not(:first-child) {
      margin-top: 32px;
    }
    &__link {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: currentColor;
    }

    &--activ {
      color: $colorBlue;
    }
  }

  .contacts {
    &__element {
      margin-top: 302px;
    }
    &__element:last-child {
      margin-top: 32px;
    }
    &__tel {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: $colorBlue;
    }
    &__mail {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: $colorMain;
    }
  }

  .network-header {
    display: flex;
    margin-top: 64px;

    &__element:not(:last-child) {
      margin-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &__link {
      padding-right: 10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: $colorBlue;
    }
  }
}
@media screen and (min-width: 768px) {
  .box.mobail {
    display: none;
  }
}
