.hero{
    margin: 0 auto;
    background-image: url(../images/fon.jpg);
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;

}


.box-hero{

    margin: 0 15px;

    &__header{
    
    margin-bottom: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $colorWhite;

    }

}

.button{

    display: flex;
    align-items: center;
    text-align: center;

    padding: 10px 32px;
    margin: 0 auto;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: $colorWhite;
    background-color: $colorBlue;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        
        color: $colorBlue;
        background-color: $colorWhite;

    }

    &:active{

        transform: scale(0.9);

    }

}
