.logo {
  margin-right: auto;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $colorText;
}

.logo--color {
  color: $colorBlue;
}
